@font-face {
  font-family: "PFDin" sans-serif;
  src: url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PFDin";
  src: url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ceremonious";
  src: url("../fonts/ceremonious_one.woff2") format("woff2");
  src: url("../fonts/ceremonious_one.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bravo";
  src: url("../fonts/BravoRGRegular.woff2") format("woff2");
  src: url("../fonts/BravoRGRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansNarrow-Regular.woff2") format("woff2");
  src: url("../fonts/PTSansNarrow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "PFDin";
  height: 100%;
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  font-size: 12px;
  background-color: #1c242a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
}

.header__logo {
  position: relative;
  z-index: 2;
  width: 144px;
}

.menu {
  padding: 0px 0px 0px 3.1578947368%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__list li {
  margin: 0px 15px;
}

.menu__link,
.actions-header__region {
  font-family: "PFDin";
  color: #fff;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.actions-header__region {
  position: relative;
  z-index: 2;
  padding: 0px 0px 0px 30px;
  line-height: 18px;
  min-width: 18px;
  min-height: 18px;
  background: url("../img/icons/globe.png") left no-repeat;
}

.actions-header__user {
  margin: 0px 0px 0px 30px;
}

.user-header__icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.user-header__menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 88px;
  right: 0;
  min-width: 176px;
  position: absolute;
  background-color: #1c242a;
  padding: 20px;
}

.user-header__menu li {
  margin: 0px 0px 8px 0px;
}

.user-header__menu li:last-child {
  margin: 0px 0px 0px 0px;
}

.user-header__menu._active {
  opacity: 1;
  visibility: visible;
  top: 55px;
}

.user-header__link {
  color: #fff;
  padding: 0px 0px 0px 30px;
  display: inline-block;
  line-height: 18px;
}

.user-header__link_1 {
  background: url("../img/icons/menu/01.png") 1px center no-repeat;
}

.user-header__link_2 {
  background: url("../img/icons/menu/02.png") left center no-repeat;
}

.user-header__link_3 {
  background: url("../img/icons/menu/03.png") 4px center no-repeat;
}

.user-header__link_4 {
  background: url("../img/icons/menu/04.png") left center no-repeat;
}

.page {
  padding: 75px 0px 0px 0px;
}

.main-slider {
  position: relative;
}

.main-slider__control {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  bottom: 0px;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-slider__control:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.item-main-slider {
  text-align: center;
  padding: 30px 0px 100px 0px;
  position: relative;
}

.item-main-slider__content {
  position: relative;
  z-index: 2;
}

.item-main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-main-slider__text {
  max-width: 700px;
  margin: 25px auto 0px auto;
  color: #fff;
  font-size: 15px;
  line-height: 1.6666666667;
}

.item-main-slider__btn {
  display: inline-block;
  margin: 55px 0px 0px 0px;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  background: url("../img/icons/sl-arrow.png") 0 0 no-repeat;
  width: 14px;
  height: 24px;
  cursor: pointer;
}

.control-main-slider__arrow_next {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.control-main-slider__decor {
  position: relative;
  z-index: 2;
  margin: 0px 12px;
  -webkit-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

.title__item {
  font-family: "Ceremonious";
  color: #bb9c66;
  font-size: 40px;
  margin: 0px 0px 0.5em 0;
}

.title__main {
  font-family: "PFDin";
  letter-spacing: 5.25px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 500;
}

.title__main_w {
  color: #fff;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn:before,
.btn:after {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  content: "";
}

.btn:before {
  top: 0;
  background-color: #c3a774;
}

.btn:after {
  bottom: 0;
  background-color: #c3a774;
}

.btn__body {
  min-height: 50px;
  width: 100%;
  position: relative;
}

.btn__body:before,
.btn__body:after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8f6630), to(#c3a774));
  background-image: -o-linear-gradient(bottom, #8f6630, #c3a774);
  background-image: linear-gradient(to top, #8f6630, #c3a774);
}

.btn__body:before {
  left: 0;
}

.btn__body:after {
  right: 0;
}

.btn__body span {
  min-height: 50px;
  color: #fff;
  font-size: 15px;
  font-family: "PFDin";
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 50px;
  position: relative;
}

.btn__body span:after {
  content: "";
  height: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bb9c66), to(rgba(187, 156, 102, 0)));
  background-image: -o-linear-gradient(bottom, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.btn_big .btn__body span {
  font-size: 21px;
  color: #000;
  letter-spacing: 0px;
  padding: 0px 10px;
  font-weight: 500;
}

.btn._fw {
  width: 100%;
}

.lots {
  padding: 85px 0px 63px 0px;
}

.lots__header {
  margin: 0px 0px 40px 0px;
}

.block-header__title {
  margin: 0px 0px 20px 0px;
}

.block-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-decor__items {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-decor__items:before {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #bb9c66;
}

.block-decor__items:after {
  content: "";
  height: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0px 5px 0px 5px;
}

.block-decor__items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 5px;
}

.block-decor__items span:before {
  content: "";
  height: 10px;
  width: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  margin: 0px 5px;
}

.block-decor__items span:after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10.8px;
  flex: 0 0 10.8px;
  width: 10.8px;
  height: 10.8px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.block-decor__items:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.block-decor__items:last-child span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.block-decor__icon {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 145px;
  flex: 0 0 145px;
}

.block-decor__icon img {
  max-width: 70px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-lots {
  overflow: hidden;
}

.slider-lots__body {
  margin: 0px -50px 50px;
}

.slider-lots__slide.slick-slide {
  padding: 0px 50px;
}

.control-slider-lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control-slider-lots__arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.control-slider-lots__arrow span {
  background: url("../img/icons/sl-arrow.svg") left no-repeat;
  width: 108px;
  height: 35px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 108px;
  flex: 0 0 108px;
  overflow: hidden;
}

.control-slider-lots__arrow:after {
  content: "";
  margin: 0px 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.control-slider-lots__arrow:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.control-slider-lots__arrow:last-child span {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.control-slider-lots__link {
  background: url("../img/icons/circle.png") 0 0 no-repeat;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 21px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "PFDin";
  margin: 0px 20px;
}

.lot {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.lot__header {
  text-align: center;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.lot__image {
  display: block;
  border: 3px solid #bb9c66;
  padding: 0px 0px 98% 0px;
}

.lot__title {
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  font-family: "PFDin";
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  margin: 0px 0px 1.2857142857em 0px;
}

.lot__title:hover {
  text-decoration: underline;
}

.lot__btn {
  margin: 0px 25px;
}

.timer-lot {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 72px;
  height: 72px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.timer-lot div {
  position: relative;
  z-index: 2;
}

.timer-lot:before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.timer-lot__item {
  font-family: "PT Sans";
  font-size: 18px;
}

.info-lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 35px 0px;
}

.info-lot__statistic {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.info-lot__icon {
  width: 18px;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0px auto 10px auto;
}

.info-lot__icon img {
  position: relative;
  z-index: 2;
}

.info-lot__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #000;
}

.info-lot__value {
  font-size: 14px;
  border-bottom: 1px solid #bb9c66;
}

.info-lot__current-bet {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.current-bet-info-lot {
  padding: 0px 5px;
  position: relative;
}

.current-bet-info-lot::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 1px solid #bb9c66;
}

.current-bet-info-lot div {
  position: relative;
  z-index: 2;
}

.current-bet-info-lot__lable {
  margin: 0px 0px 5px 0px;
}

.current-bet-info-lot__value {
  font-family: "Bravo";
  font-size: 50px;
  white-space: nowrap;
}

.item {
  position: relative;
  padding: 30px 30px 30px 30px;
  text-align: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item:hover .item__bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.item__link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__icon {
  position: relative;
  z-index: 2;
  margin: 0px 0px 22px 0px;
}

.item__title {
  letter-spacing: 2.1px;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 500;
  font-family: "PFDin";
  text-transform: uppercase;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item__bg {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item__bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.item__deco {
  position: relative;
  z-index: 2;
  text-align: center;
}

.categories {
  margin: 0px 0px 70px 0px;
}

.categories__container {
  overflow: hidden;
  position: relative;
}

.categories__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 45px;
  background-color: #fff;
  width: 100%;
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -50px 0px;
  padding: 33px 0px 0px 0px;
}

.categories__row::before,
.categories__row::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17.28px;
  flex: 0 0 17.28px;
  -webkit-transform: translate(-50%, 0px) rotate(-45deg);
  -ms-transform: translate(-50%, 0px) rotate(-45deg);
  transform: translate(-50%, 0px) rotate(-45deg);
  border: 1px solid #bb9c66;
}

.categories__row::before {
  left: 33.333%;
}

.categories__row::after {
  left: 66.667%;
}

.categories__column {
  padding: 0px 50px 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  margin: 0px 0px 25px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.categories__column::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #bb9c66;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.categories__items {
  margin: 0px 0px 85px 0px;
}

.categories__decor {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: calc(100% + 9px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(50%, 0px);
  -ms-transform: translate(50%, 0px);
  transform: translate(50%, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5;
}

.categories__decor::before {
  content: "";
  width: 1px;
  background-color: #bb9c66;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.categories__decor::after {
  content: "";
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17.28px;
  flex: 0 0 17.28px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 1px solid #bb9c66;
  margin: 15px 0px 0px 0px;
}

.categories__decor span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories__decor span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #bb9c66;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  margin: 20px 0px;
}

.categories__decor span::after {
  content: "";
  width: 1px;
  background-color: #bb9c66;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.text-categories {
  color: #333333;
  font-size: 15px;
  line-height: 1.6666666667;
}

.text-categories p {
  margin: 0px 0px 25px 0px;
}

.text-categories p:last-child {
  margin: 0px 0px 0px 0px;
}

.text-categories__body {
  padding: 10px 0px 25px 130px;
  background: url("../img/categories/decor.png") left top repeat-y;
  position: relative;
}

.text-categories__body::before {
  content: "";
  background: url("../img/categories/decor_header.png") 0 0 no-repeat;
  position: absolute;
  top: -5px;
  left: 0px;
  width: 85px;
  height: 12px;
}

.services {
  padding: 60px 0px;
  background-color: #1c242a;
}

.services__header {
  margin: 0px 0px 40px 0px;
}

.services__row {
  margin: 0px -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  padding: 0px 50px;
  margin: 0px 0px 40px 0px;
}

.service {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service__image {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

.service__title {
  font-family: "PFDin";
  font-size: 21px;
  font-weight: 500;
  line-height: 1.1904761905;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.1px;
}

.service__text {
  color: #bb9c66;
  font-size: 15px;
  line-height: 1.6666666667;
  margin: 23px 0px 0px 0px;
}

.service__btn {
  position: relative;
  font-family: "PFDin";
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2.1px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px;
}

.service__btn:before {
  content: "";
  position: absolute;
  background-color: #bb9c66;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
}

.service__btn span {
  background-color: #1c242a;
  position: relative;
  z-index: 2;
  padding: 0px 15px;
}

.quotes {
  padding: 64px 0px 75px 0px;
}

.slider-quotes__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 515px;
  flex: 0 1 515px;
}

.slider-quotes__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-quotes__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.6842105263%;
  flex: 0 0 33.6842105263%;
}

.slider-quotes__image img {
  max-width: 100%;
}

.slider-quotes__title {
  font-family: "PT Sans";
  font-size: 25px;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 2.1px;
  margin: 0px 0px 1.2em 0px;
}

.slider-quotes__info {
  color: #1c242a;
  font-size: 15px;
}

.slider-quotes__info p {
  margin: 0px 0px 7px 0px;
}

.slider-quotes__info p:last-child {
  margin: 0px 0px 0px 0px;
}

.control-slider-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 400px;
  margin: 9px auto;
}

.control-slider-quotes__decor {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.control-slider-quotes__decor::before {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
}

.control-slider-quotes__decor::after {
  content: "";
  margin: 0px 0px 0px 5px;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  border: 1px solid #bb9c66;
}

.control-slider-quotes__decor:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.control-slider-quotes__decor:last-child::after {
  margin: 0px 5px 0px 0px;
}

.control-slider-quotes__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  text-align: center;
}

.control-slider-quotes__circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  background: url("../img/icons/rotate-arrow.svg") center no-repeat;
}

.info {
  padding: 0px 0px 75px 0px;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info__column {
  padding: 0px 22px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin: 0px 0px 55px 0px;
}

.info__column:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 0px;
}

.info__item {
  margin: 0px 0px 30px 0px;
}

.info__date {
  color: #bb9c66;
  font-size: 12px;
  margin: 0px 0px 5px 0px;
}

.info__lable {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
  font-weight: 700;
  text-decoration: underline;
  display: inline-block;
  margin: 0px 0px 5px 0px;
}

.info__text {
  font-size: 15px;
  line-height: 1.4;
}

.title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 35px;
  font-family: "PFDin";
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.title-info span:first-child {
  margin: 0px 15px 0px 0px;
}

.title-info span:first-child img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22px;
}

.subscribe__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0px 22px;
}

.subscribe__text {
  font-size: 15px;
  line-height: 1.4;
}

.form-subscribe {
  height: 50px;
  border: 3px solid #bb9c66;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2px;
}

.form-subscribe__btn {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 95px;
  flex: 0 0 95px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.form-subscribe__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  width: 1px;
  height: 32px;
  background-color: #bb9c66;
}

.form-subscribe__btn span {
  background: url("../img/icons/ok-btn.png") right no-repeat;
  padding: 0px 32px 0px 0px;
  color: #1c242a;
  font-family: "PFDin";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.12px;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 100%;
  color: #4f4f4f;
  font-size: 15px;
  display: block;
  padding: 0px 25px;
  border: 2px solid white;
}

.input:focus {
  border: 1px solid #000000;
  outline: none;
}

.footer {
  padding: 45px 0px;
  background-color: #1c242a;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column_full {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer__column:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
}

.footer__column:last-child {
  text-align: right;
}

.footer__logo {
  display: inline-block;
  margin: 0px 0px 25px 0px;
}

.footer__info {
  color: #bb9c66;
}

.footer__menu {
  padding: 0px 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__list li {
  margin: 15px 15px 0px 0px;
}

.footer__link {
  font-family: "PFDin";
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__contacts {
  padding: 15px 0px 0px 0px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  white-space: nowrap;
  color: #bb9c66;
  font-family: "Bravo";
  font-size: 50px;
  text-transform: uppercase;
}

.footer__phone small {
  font-size: 25px;
  margin: 2px 5px 0px 0px;
}

.footer__callback {
  color: #bb9c66;
  background: url("../img/icons/callback.svg") left no-repeat;
  padding: 0px 0px 0px 12px;
}

.footer__callback span {
  border-bottom: 1px dashed;
}

@media (min-width: 992px) {
  .menu__link:hover,
  .actions-header__region:hover {
    text-decoration: underline;
  }

  .user-header__link:hover {
    text-decoration: underline;
  }

  .btn:hover .btn__body span:after {
    opacity: 0.3;
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 991px) {
  .footer__phone {
    font-size: 40px;
  }

  .footer__phone small {
    font-size: 20px;
  }
}

@media (max-width: 982px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 975px) {
  .slider-lots__body {
    margin: 0px -15px 50px;
  }

  .slider-lots__slide.slick-slide {
    padding: 0px 15px;
  }

  .lot__title {
    font-size: 18px;
  }

  .info-lot__current-bet {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .current-bet-info-lot {
    padding: 0px 10px;
  }

  .current-bet-info-lot__value {
    font-size: 35px;
  }

  .categories__row::before {
    left: 50%;
  }

  .categories__row::after {
    display: none;
  }

  .categories__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .services__row {
    margin: 0px;
  }

  .services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .info__row {
    margin: 0px;
  }

  .info__column {
    padding: 0;
    margin: 0px 0px 30px 0px;
  }

  .subscribe__body {
    margin: 0px;
  }

  .subscribe__column {
    padding: 0px;
  }
}

@media (max-width: 890px) {
  .actions-header__region {
    padding: 0px 0px 0px 0px;
  }

  .actions-header__region span {
    display: none;
  }

  .actions-header__user {
    margin: 0px 0px 0px 15px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }

  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu__body {
    background-color: rgba(28, 36, 42, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 100px 0px 20px 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
  }

  .menu__body:after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link,
  .actions-header__region {
    font-size: 18px;
  }

  .icon-menu {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 105;
  }

  .icon-menu span {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #bb9c66;
    opacity: 1;
    visibility: visible;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .actions-header__region {
    display: none;
    margin: 50px 0px 0px 0px;
    display: inline-block;
    padding: 0px 0px 0px 30px;
  }

  .actions-header__region span {
    display: inline-block;
  }

  .user-header__menu {
    width: 100%;
  }

  .block-decor__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95px;
    flex: 0 0 95px;
  }
}

@media (max-width: 767px) {
  .categories__items {
    margin: 0px 0px 0px 0px;
  }

  .text-categories__body::before {
    display: none;
  }

  .text-categories__body {
    padding: 10px 0px 25px 0px;
    background: none;
  }

  .info {
    margin: 0px 0px 60px 0px;
  }

  .info__row {
    display: block;
  }

  .info__item {
    margin: 0px 0px 20px 0px;
  }

  .title-info {
    margin: 0px 0px 15px 0px;
  }

  .subscribe__body {
    display: block;
  }

  .subscribe__text {
    margin: 0px 0px 25px 0px;
  }

  .footer__content {
    display: block;
    text-align: center;
  }

  .footer__logo {
    margin: 0px;
  }

  .footer__info {
    margin: 25px 0px 0px 0px;
  }

  .footer__menu {
    padding: 0px 15px;
    margin: 0px 0px 20px 0px;
  }

  .footer__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px 7px 0px 7px;
  }

  .footer__contacts {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .categories__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media (max-width: 640px) {
  .services__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 570px) {
  .slider-quotes {
    padding: 30px 0px 0px 0px;
  }

  .slider-quotes__slide {
    display: block;
  }
}

@media (max-width: 450px) {
  .control-slider-lots__arrow span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
  }
}